        @using System.Data
@model DataSet
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EmployeeList</title>
    <link href="~/css/Login.css" rel="stylesheet" />
    <style>
        #NamingTheTask {
            margin-left: 231px;
            margin-top: -657px;
            /* border: 2px solid black; */
            padding: 20px;
            text-align: center;
            background-color: darkgrey;
            font-family: 'Cambria Math';
        }

        #ListData {
            margin-left: 231px;
            margin-top: -23px;
            font-family: 'Cambria Math';
        }
    </style>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <div id="dashboardMsgs"><h1 id="wlcmMsg">Welcome Admin</h1></div>
    <div id="sidebar">
        <a id="anchor" href="@Url.Action("Admin", "LogIn")">Home</a>
        <a id="anchor" href="@Url.Action("Index","Home")">Log Out</a> <br /><br />
        <p id="project" class="dropdown">Task Page ►</p><br />
    </div><br />
    <div id="NamingTheTask"><h1 id="wlcmMsg">Employee List</h1></div><br />
    <div id="ListData">
        @ViewBag.Message
        <table class="table table-hover table-strpied" border="1">
            <thead>
                <tr>
                    @*<th>Regd ID</th>*@
                    <th>Employee Name</th>
                    <th>Employee Email:</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <p>
                    @ViewBag.Message
                </p>
                @foreach (DataRow row in Model.Tables[0].Rows)
                {
                    <tr>
                        @*<td>@row["EmpID"]</td>*@
                        <td>@row["EmpName"]</td>
                        <td>@row["EmpEmail"]</td>
                        <td>
                            <a href="@Url.Action("Edit", "Employee", new {id = row["EmpID"] })" class="btn btn-primary">Edit</a>@ViewBag.Message
                            <a href="@Url.Action("Delete", "Employee", new { row = row["EmpID"] })" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                }
                @ViewBag.Msg
            </tbody>


        </table>
    </div>
    @*</div>*@
</body>
</html>
