<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>User</title>
    <link href="~/css/Login.css" rel="stylesheet" />
</head>
<body>
    <div>
        <div id="dashboardMsgs"><h1 id="wlcmMsg">Welcome User</h1></div>
        <div id="sidebar">
            <div style="margin-left: 16px">
                <label id="lbl" value="Admin User" name="Admin User">User: </label>
                @ViewBag.msg <br /><br />
            </div>
            @*//<a id="anchor" href="https://www.google.com">Home</a>*@
            <a id="anchor" href="@Url.Action("Index","Home")">Log Out</a> <br /><br />
        </div>
        <div id="leftDiv">
            <h1>Involved Projects</h1>
            <label>Assigned to this employee</label><br /><br />
            <a href="@Url.Action("InvolvedProjects","UserTask")">See Involved Projects</a>
        </div>
        <div id="RightDiv">
            <h1>Individual Tasks</h1>
            <label>Assigned to this employee</label>
            <br /><br />
            <a href="@Url.Action("TaskListUser","UserTask")">See Involved Tasks</a><br /><br /> 
            <a href="@Url.Action("ForwardedTasks","UserTask")">See Forwarded Tasks</a>
        </div>
    </div>
</body>
</html>
